// TYPOGRAPHY
$fs-hd-sm: 16;
$fw-hd-sm: $bold;
$lh-hd-sm: 24;

$fs-hd-xs: 13;
$fw-hd-xs: $bold;
$lh-hd-xs: 19;


$fs-bd-sm: 16;
$fw-bd-sm: $bold;
$lh-bd-sm: 24;

$fs-bd-rg: 20;
$fw-bd-rg: $bold;
$lh-bd-rg: 30;

$fs-bd-md: 24;
$fw-bd-md: $bold;
$lh-bd-md: 36;

$fs-bd-lg: 32;
$fw-bd-lg: $bold;
$lh-bd-lg: 47;
$ls-bd-lg: px(-0.67);

$fs-bd-xl: 48;
$fw-bd-xl: $bold;
$lh-bd-xl: 71;
$ls-bd-lg: px(-1);