
@import 'reset';
@import 'variables';

body {
    font-family: $ff;
}

main {
    display: flex;
    flex-direction: column;
    background-color: $clr-neu-4;
    padding-top: px(50);
    @include min-width($desktop) {
        height: 100vh;
    }
    
}
.app {
    display: grid;
    background-color: $clr-neu-6;
    padding: px(32);
    border-top-left-radius: px(25);
    border-top-right-radius: px(25);
    @include min-width($desktop) {
        padding-left: px(48);
        padding-right: px(48);
        grid-template-columns: 1fr 1fr;
        border-bottom-left-radius: px(25);
        border-bottom-right-radius: px(25);
        margin: auto;
    }
}

.logo {
    margin: auto;
    margin-bottom: px(42);
    @include dim(86.6, 53.14);
    background-image: url('../images/logo.svg');
    background-repeat: no-repeat;
}

.calculator {
    padding-top: px(0);
    padding-bottom: px(16);
    @include min-width($desktop) {
        padding-top: px(12);
        padding-right: px(48);
    }
    .bill {
        position: relative;
        padding-bottom: px(16);
        @include min-width($desktop) {
            padding-bottom: px(24);
        }
        &-title {
            @include heading-sm;
            color: $clr-neu-2;
            margin-bottom: px(6);
        }
        .icon {
            position: relative;
            top: px(-32);
            left: px(18);
            &--dollar {
                @include dim(9.84, 15.46);
                background-image: url('../images/icon-dollar.svg');
            }
        }
        &-input {
            @include body-md;
            width: 100%;
            padding: px(6, 18);
            color: $clr-neu-3;
            background-color: $clr-neu-5;
            text-align: right;
            border-radius: px(5);
        }
        
    }
    .tips {
        margin-bottom: px(32);
        @include min-width($desktop) {
            margin-bottom: px(40);
        }
        &-title {
            @include heading-sm;
            color: $clr-neu-2;
            margin-bottom: px(6);
            @include min-width($desktop) {
                margin-bottom: px(16);
            }
        }
        &-select {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-gap: px(16);
            @include min-width($desktop) {
                margin-bottom: px(16);
                grid-template-columns: 1fr 1fr 1fr;
                grid-gap: px(16);
            }
            .percentage {
                @include body-md;
                background-color: $clr-neu-1;
                color: $clr-neu-6;
                padding: px(6, 16);
                border-radius: px(5);
                text-align: center;
                cursor: pointer;
                &:hover {
                    background-color: $clr-neu-4;
                    color: $clr-neu-1;
                }
                &:selected {
                    background-color: $clr-pri-1;
                    color: $clr-neu-1;
                }
                &.percentage6 {
                    background-color: $clr-neu-5;
                    color: $clr-neu-2;    
                }
                .custom {
                    width: 100%;
                    //background-color: $clr-neu-5;
                }
            }
        }
    }
    .people {
        position: relative;
        
        &-title {
            @include heading-sm;
            color: $clr-neu-2;
            margin-bottom: px(6);
        }
        .icon {
            position: relative;
            top: px(-32);
            left: px(18);
            &--person {
                @include dim(13, 16);
                background-image: url('../images/icon-person.svg');
            }
        }
        &-input {
            @include body-md;
            width: 100%;
            padding: px(6, 18);
            color: $clr-neu-3;
            background-color: $clr-neu-5;
            text-align: right;
            border-radius: px(5);
        }
        
    }
}
.result {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: px(20);
    padding: px(24);
    padding-top: px(37);
    background-color: $clr-neu-1;
    border-radius: px(15);
    @include min-width($desktop) {
        align-items: center;
        padding: px(40);
        padding-top: px(40);
        margin-bottom: px(0);
        grid-template-rows: 1fr, 1fr, 1fr, 1fr;
        grid-gap: px(20);
    }
    &-label {
        display: flex;
        flex-direction: column;
        @include heading-sm;
        color: $clr-neu-6;
        & span {
            @include heading-xs;
            color: $clr-neu-2;
        }
    }
    &-result {
        @include body-lg;
        color: $clr-pri-1;
        justify-self: flex-end;
        @include min-width($desktop) {
            @include body-xl;
        }
    }
    .spacer {
        display: none;
        height: 71px;
        @include min-width($desktop) {
            display: block;
        }
    }
    .reset {
        height: px(48);
        grid-column-start: 1;
        grid-column-end: 3;
        @include body-rg;
        text-transform: uppercase;
        text-align: center;
        padding: px(6, 32);
        background-color: $clr-neu-1b;
        color: $clr-neu-1;
        border-radius: px(5);
        margin-top: px(12);
        cursor: pointer;
        @include min-width($desktop) {
            grid-row-start: 4;
            grid-row-end: 5;
        }
        &:hover {
            background-color: $clr-neu-4;
            color: $clr-neu-1;
        }
        &:enabled {
            background-color: $clr-pri-1;
            color: $clr-neu-1;
        }
    }
}
